.loginFormContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.loginForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 50px;
    width: 600px;
    max-width: 100vw;
}
.links{
    width: 100%;
    text-align: left;
}
.errorMsg{
    min-height: 4.5rem;
}